<!DOCTYPE html>
<html lang="en">
<head>

    <title>Vue.js</title>

    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <div id="app">
        <!-- <h1>BARBIE DRESSES</h1> -->
        {{availability}}
        <h2>1--long gown</h2>
           <!-- how to use directives- v-bind or colon (:) -->
        <img class="first" :src="images"/>
        <!-- conditional rendering  by using if and else  -->
        <p v-if="stock">In stock</p>
        <p v-else>out stock</p>
        <ul>
            <!-- list rendering by using v-for directives  -->
            <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <!-- {{availability}} -->
         <button class="btn" v-on:click="addToCart">Add To Cart</button>
         <button class="btn" v-on:click="removeFromCart" :disabled="cart === 0">Remove From Cart</button>
        <div class="cart">({{cart}})</div>

    </div>
   
    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script> 
</body>
</html>